@import "_variables.scss";

.connection-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    left: 10px;
    height: 50px;
    border-radius: 20px;
    background-color: #ffffff;
    border: 3px solid $primary_color;

    img {
        width: 30px;
        height: 30px;
        margin: 0 10px;
        cursor: pointer;
    }
}
